body{
  background-color: whitesmoke;
}

a{
  text-decoration: none;
  color: inherit;
  margin: 10px 0px 10px 0px;
}

.header{
  color: white;
  font-family: "Montserrat", serif;
  font-weight:200;
  width: 100%;
  height: auto;
  background-color: #2f3949;
  text-align: left;
  padding: 20px 50px 20px 20px;
  font-size: 2em;
  line-height: 2em;
  margin-top: 0px;
}


.controls{
  color: black;
  font-family: Khula;
  width: 40%;
  position: relative;
  margin: 20px auto;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

.reset, .circles, .squares{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 10px;
  margin: 0 25px;
  color: #2f3949;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 25px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;

}

.reset:hover, .circles:hover, .squares:hover{
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 10px;
  margin: 0 25px;
  color: white;
  background-color: #2f3949;
  border: 1px solid black;
  margin-bottom: 25px;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;

}

.reset{
  float: left;
}

.circles,.squares{
  float: right;
}

.color{
  display: inline-block;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.coloroption{
  text-align: center;
  width: 30%;
  margin: 20px auto;
  display: inline-block;
}

.icon{
background-color: white;
border: 1px solid black;
border-radius: 50%;
height: 40px;
width: 40px;
margin-top: 5px;
margin-left: 20px;
}


div.wrapper{
  background-color: white;
  height: auto;
  width: 400px;
  margin: 0 auto;
  border: 4px solid black;
  overflow: hidden;

}

div.cell {
  display: inline-table;
  border-radius: 0px;
  border: 0px solid black;
  margin: 1px;
  float: left;
}

.footer{
  width: auto;
  position: relative;
  bottom: 0px;
  height: 50px;
  background-color: white;
  border-top: 1px solid navy;
  margin-top: 20px;
  padding: 20px 40px 20px 40px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.footerlink{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: gray;
}
